.foodItems {
    width: 80vw;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    text-align: center;
}

@media screen and (max-width: 576px) {
    .foodItems {
        width: 90vw;
        margin: 1rem auto;
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}