.footer {
    text-align: center;
    background-color: var(--bg-footer);
    color: white;
    margin-bottom: -5rem;
    padding: 3rem 0;
}

.social-icon {
    display: flex;
    gap: 1rem;
    justify-content: center;
    font-size: 1.3rem;
}

@media screen and (max-width: 576px) {
    .footer {
        margin-bottom: 2rem;
    }
}