.error-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-page img {
    width: 10rem;
}

.error-page h3 {
    color: red;
}